body {
    margin: 0px;
	background-image: url("../img/fpage1.jpg");

    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}



header {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background: rgb(10, 10, 10);
    position: fixed;
    overflow: scroll;
    color:white;
    left: 0px;
    top: 0px;
    border:white;
    overflow-y: hidden; 
    overflow-x: hidden; 

}


header a:link {color:white;text-decoration: none;}    
header a:visited {color:white;text-decoration: none;} 
header a:hover {color:yellow;text-decoration: none;}   
header a:active {color:yellow;text-decoration: none;}



.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 20px;

}


#title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}


.button {
	position: absolute;
	font-size: 1.5em;
	text-transform: uppercase;
	color: rgb(254, 255, 252);
	background: rgb(255, 84, 94);
	padding: 15px;
	letter-spacing: 3px;
	text-align: center;
	transition: 0.3s;
}


.button:hover {
	cursor: pointer;
	background:rgb(255, 44, 54);

}


#startbutton{
    left: 45%;
    bottom: 10%;
}


#text1{
    top: 30%;
    position: absolute;
    font-size:3.5em;
    font-weight: bold;
    right: 8%;
}